@model RedButton.Models.PanicViewModel

@{
    ViewBag.Title = "title";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.DisplayTextFor(model => model.Organization)
    @Html.DisplayTextFor(model => model.Key)
    @Html.HiddenFor(model => model.Organization)
    @Html.HiddenFor(model => model.Key)
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Drop sessions" class="btn btn-danger"/>
    </div>
}